<h1><%=@user.username%></h1>

<% Deck.all.each do |deck| %>

<div class="panel panel-danger">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= deck.name %><a class="label label-danger" href="/decks/<%=deck.id%>">Try it out!</a></div>
<!--   <div class="panel-body">
  </div> -->

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Cards in Deck</th>
        <th>First Guess Correct</th>
        <th>Total Guesses</th>
      </tr>
    </thead>

    <tbody>
    <% deck.rounds.where(user_id: params[:id]).each do |round| %>
      <tr>
        <% stats = round.stats %>
        <td><%= stats[:date_updated] %></td>
        <td><%= stats[:total_cards] %></td>
        <td><%= stats[:correct_on_first_try] %></td>
        <td><%= stats[:total_guesses] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% end %>
