<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= @card.deck.name %></h3>
	  </div>
	  <div class="panel-body">
	    <h2><%= @card.question %></h2>
	    <form class="form-horizontal" action="/rounds/<%= params[:round_id] %>/decks/<%= params[:deck_id] %>/cards/<%= params[:id] %>" method="POST">

	    	<div class="form-group form-group-lg">
	    		<div class="col-xs-offset-1 col-xs-10">
			  		<input type="text" class="form-control" name="response" placeholder="Put your answer here!">
			  	</div>
				</div>
				<div class="text-center">
			  	<button class="btn btn-success" type="submit">amirite?</button>
			  </div>
			</form>
	  </div>
	</div>
</div>
