<h1><%= @card.deck.name %></h1>

<h2><%= @card.question %></h2>
<form action="/rounds/<%= params[:round_id] %>/decks/<%= params[:deck_id] %>/cards/<%= params[:id] %>" method="POST">
  <textarea name="response" placeholder="Put your answer here!"></textarea>
  <button class="btn btn-success" type="submit">amirite?</button>

</form>
