<div>

<p>You suck!</p>
<p>The answer to "<%= Card.find_by(id: params[:id]).question %>" was incorrect.</p>
<p>The correct answer is "<%= Card.find_by(id: params[:id]).answer %>".</p>

  <% if @card %>
    <a class="btn btn-danger" href="/rounds/<%= params[:round_id] %>/decks/<%= params[:deck_id] %>/cards/<%= @card.id %>">Next card</a>
  <% else %>

    <a class="btn btn-danger" href="/rounds/<%= params[:round_id] %>/decks/<%= params[:deck_id] %>/completed">Next card</a>
  <% end %>

</div>
